<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
</head>
<body>
	
    <h1>All Users</h1>
	<div>
	      <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>
	      <p th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></p>
	  </div>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userId}">1</td>
                <td th:text="${user.username}">John Doe</td>
                <td th:text="${user.email}">john.doe@example.com</td>
                <td>
                    <a th:href="@{/admin/user/delete/{id}(id=${user.userId})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
