<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <h1>Dashboard</h1>
    <div class="dashboard-stats">
        <div>Total Users: <span th:text="${totalUsers}"></span></div>
        <div>Total Orders: <span th:text="${totalOrders}"></span></div>
        <div>Active Tables: <span th:text="${activeTables}"></span></div>
        <div>Pending Bills: <span th:text="${pendingBills}"></span></div>
    </div>
    <a href="/admin/view/all/orders">Manage new Orders</a>
	<a href="/admin/getAllMenuItem">Add new Menu Item</a>	
	<a href="/admin/view/orders/24hr">View Order of 24hr</a>
	<a href="/admin/view/all/users">View All Users</a>

	<a href="/admin/register/new-user">Create new User Details</a>

	
</body>
</html>
