<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create/Edit Menu Item</title>
	<link rel="stylesheet" href="/css/menu-form.css">

</head>
<body>
    <h2 th:text="${menuItem.itemId == null ? 'Create Menu Item' : 'Edit Menu Item'}"></h2>
    <form th:action="@{/menu/save}" th:object="${menuItem}" method="post">
        <div>
            <label for="itemName">Item Name:</label>
            <input type="text" th:field="*{itemName}" id="itemName"/>
        </div>
        <div>
            <label for="itemPrice">Item Price:</label>
            <input type="number" th:field="*{itemPrice}" id="itemPrice"/>
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>
