<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
	<link rel="stylesheet" href="/css/order-list.css">

</head>
<body>
    <h2>Order List</h2>
    <a href="/orders/new">Create New Order</a>
    <table>
        <thead>
            <tr>
                <th>Order Time</th>
                <th>Status</th>
                <th>Table</th>
                <th>Customer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.orderTime}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.table.tableName}"></td>
                <td th:text="${order.user.fullName}"></td>
                <td>
                    <a th:href="@{/orders/edit/{id}(id=${order.orderId})}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
