<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
	<link rel="stylesheet" href="/css/user-list.css">

</head>
<body>
    <h2>User List</h2>
    <a href="/users/new">Create New User</a>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <a th:href="@{/users/edit/{id}(id=${user.userId})}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
